
@{
    Layout = null;
}

@Styles.Render("~/Content/Register/RegisterForm.css")
@Styles.Render("~/Content/Register/iconfont.css.minified.css")
@Styles.Render("~/Content/Register/ui.css.minified.css")
@Styles.Render("~/Content/Register/shared.css.minified.css")
@Styles.Render("~/Content/Register/print.css.minified.css")
@Styles.Render("~/Content/Register/perfect-scrollbar.css.minified.css")

<div ng-controller="RegisterController">
  <form name="regForm" data-iframe-height="1" method="post" id="form" data-form-id="3889905" data-loader-type="viewer" style="margin-top: 70px"data-num-children="1" data-instructions-text-alignment="left" data-label-text-alignment="left" data-text-direction="ltr" data-label-placement="top" data-layout-type="desktop" data-theme-is-ready="1">
    <div data-role="page" data-type="page" data-hash="00000006" data-type-id="90001" data-colspan="20" data-num-children="9" data-page-index="0" data-is-first-page="1" data-is-current-page="1" data-is-last-page="yes">
        <div data-role="page-header">
        <div data-role="control" data-type="form-header" data-hash="00000002" data-type-id="27" data-colspan="20" id="form-heading-00000002-acc" aria-labelledby="form-heading-00000002-acc" data-i18n-html="Headline">
            <span style="font-family: Arial; font-weight: bold; font-size: x-large;">Registration Form</span>
            <span style="font-family: Arial;">
                <span style="font-family: Arial;">
                    <span style="font-size: medium;" size="3">
                        <span style="font-size: small;" size="2"><br>Thank you for joining our business demographic survey. Please give us your feedback by filling in the information below.</span><br>
                        <span style="font-size: medium;" size="3"></span>
                    </span>
                </span>
            </span><hr>
            <span style="font-family: Arial;">
                <span style="font-size: medium;" size="3">
                    <span style="font-size: medium;" size="3"></span><br>
                </span>
           </span>
        </div>
        </div>
        <div data-role="page-body">
            <div data-role="container" data-type="virtual-form-table-row" data-hash="00000007" data-type-id="0" data-colspan="20" data-num-children="1">
                <div data-role="control" data-type="radio" data-hash="00000008" data-type-id="18" data-colspan="20" data-label-is-bold="1" aria-labelledby="checkbox-00000008-acc radio-00000008-clearable-button-acc checkbox-00000008-error-acc checkbox-00000008-instr-acc" data-renderer-type="tln" data-id="42090890" data-is-active="1">
                    @Html.Label("Email:")<input type="text" ng-model="form.email" required/>
                    @Html.Label("Password:")<input type="text" ng-model="form.password" required/>
                    @Html.Label("VerifyPass:")<input type="text" ng-model="validate.pass" required/>
                    <p>{{form.password == validate.pass? '' : '* Password Does Not Match *'}}</p>
                    @Html.Label("First Name:")  <input type="text" ng-model="form.firstname" required/>
                    @Html.Label("Last Name:")<input type="text" ng-model="form.lastname" required/>
                    @Html.Label("Street Address:")<input type="text" placeholder="apt number, street" ng-model="form.address.street"></input>
                    @Html.Label("ZipCode:")<input type="number" placeholder="12345" ng-model="form.address.zipcode"/>
                    @Html.Label("City:")
                    <Select ng-model="form.address.city" required>
                        <option>---SELECT CITY---</option>
                        <option ng-repeat="city in data.cities" value="{{city.name}}">{{city.name}}</option>
                    </Select>
                    @Html.Label("State:")
                    <Select ng-model="form.address.state" required>
                        <option>---SELECT STATE---</option>
                        <option ng-repeat="state in data.states" value="{{state.name}}">{{state.name}}</option>
                    </Select>
                    @Html.Label("Country:")
                    <Select ng-model="form.address.country" required>
                        <option>---SELECT COUNTRY---</option>
                        <option ng-repeat="country in data.countries" value="{{country.name}}">{{country.name}}</option>
                    </Select>
                    @Html.Label("Joby Type:")
                    <Select ng-model="form.jobtype" require>
                        <option>---SELECT JOB---</option>
                        <option ng-repeat="jobtype in data.jobtypes" value="{{jobtype.id}}">{{jobtype.name}}</option>
                    </Select>
                <button ng-click="SubmitForm(form)" data-role="submit" type="submit"><span class="normal-state" data-i18n-text="SendButton">Submit Register Form</span><span class="submit-state" data-i18n-text="textdef_132">Please wait...</span></button>

            </div>
        </div>
    </div><div data-role="page-break" data-page-index="0" data-is-last-page="yes"><div data-role="merge-pages"><div data-role="page-separator-line"></div><button data-role="merge-pages-button" data-i18n-text="edt_text_merge_button">Merge pages</button><div data-role="page-separator-line"></div></div></div><link rel="stylesheet" type="text/css">
    <div data-role="form-footer">
        <div data-role="logo-content">
            <a target="_blank" href="https://www.123formbuilder.com/" title="">
                <img data-role="logo-image" src="./Business Demographic Survey_files/logo.svg" title="" alt="">
            </a>
        </div>
        <div data-role="powered-by-content">
            Powered by
            <a target="_blank" href="https://www.123formbuilder.com/" title="123FormBuilder">123FormBuilder</a>

        </div>

        <div data-role="report-abuse-content">
            <a target="_blank" rel="nofollow" href="https://www.123formbuilder.com/sfnew.php?s=123formbuilder-52&amp;control119314=http://www.123formbuilder.com/form-3889905/Business-Demographic-Survey&amp;control190=Report%20abuse" title="Looks like phishing? Report it!">Report abuse</a>
        </div>

    </div>
  </form>
</div>

@Scripts.Render("~/Content/Register/jquery-3.2.1.js.minfied.js.download")
@Scripts.Render("~/Content/Register/iframeResizer.contentWindow.min.js.minified.js.download")
@Scripts.Render("~/Content/Register/perfect-scrollbar.jquery.js.minified.js.download")
@Scripts.Render("~/Content/Register/build.js.minfied.js.download")
@Scripts.Render("~/Scripts/Register/boot-engine.js")